body {
    background-color: #96C9F4;
}
.navbar {
    background: linear-gradient(to left, #62d7f8, #008DDA);
  }
.navbar a {
    color: white;
}
.footer {
    background-color: #001F3F;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profile-section {
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.carousel-item img {
    max-height: 400px; 
    object-fit: cover; 
    width: 100%;
}