.navbar {
    background: linear-gradient(to left, #00c8ff, #008DDA);
  }
.navbar a {
    color: white;
}
.footer {
    background-color: #001F3F;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profile-section {
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.price-check-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #DFF5FF;
    border-radius: 5px;
}
.price-check-section h2 {
    margin-bottom: 20px;
}